.centerWrapper {
    display: grid;
    place-items: center;
    width: 100%;
    height: 100vh;
}

.loaderRoot {
    display: inline-block;
}

.loader {
    --dim: 3rem;
    --color: #333;
    --dur: 2s;

    width: var(--dim);
    height: var(--dim);
    position: relative;
    display: inline-block;
    transform-origin: center center;
    will-change: transform;
    animation: spin988 var(--dur) linear infinite;
}

.circle {
    --dot: calc(var(--dim) / 3);
    width: var(--dot);
    height: var(--dot);
    background-color: var(--color);
    border-radius: 50%;
    position: absolute;
}

.circle:nth-child(1) {
    top: 0;
    left: 0;
}

.circle:nth-child(2) {
    top: 0;
    right: 0;
}

.circle:nth-child(3) {
    bottom: 0;
    left: 0;
}

.circle:nth-child(4) {
    bottom: 0;
    right: 0;
}

@keyframes spin988 {
    0% {
        transform: scale(1) rotate(0deg);
    }

    25% {
        transform: scale(1.3) rotate(90deg);
    }

    50% {
        transform: scale(1) rotate(180deg);
    }

    75% {
        transform: scale(1.3) rotate(270deg);
    }

    100% {
        transform: scale(1) rotate(360deg);
    }
}